@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/Roboto_Condensed-Regular.ttf');
    font-weight: regular;
    font-display: swap;
  }
}