@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
  body {
    font-family: Arial, sans-serif;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
}